MM_SERVER=chat.example.com
MM_TEAM=myteam
MM_LOGIN=firehose-bot
MM_PASS=replace-with-password-or-personal-access-token
# Example: MM_PASS=token=1pg3iz4k33f67y6i69b77zyhsr
# or use a password
# MM_MFA=
# MM_LOGLEVEL=info

TG_TOKEN=123456:ABC-your-bot-token
# Negative for groups/channels
# TG_CHAT_ID=-1001234567890
# Positive for account (yourself)
TG_CHAT_ID=1234567890
# Find your chat ID by messaging to @userinfobot on Telegram.
